.customHeader{
	background-image: url('../assets/img/Header.jpg');
	background-color: rgba(15, 15, 15, 0.5);
	background-blend-mode: overlay;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100%;
	background-size: cover;
	color: rgba(255, 255, 255, 0.87);
}