.custom-button {
	border-radius: 5px;
	border: none;
	display: flex;
	align-items: center;
	gap: 3px;
	padding: 5px;
	background-color: #fc8c8b;
	color: rgba(255, 255, 255, 0.87);
}

.custom-button:hover{
	background-color:  #fa716f;
	font-weight: bold;
}

.button-icon {
	width: 20px;
	height: 20px;
}