.customCart {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.itemsContainer{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.customButton {
	height: 30px;
	width: 30%;
	border-radius: 5px;
	padding: 0 6px 0 6px;
	background-color: #ffffff;
	border-style: none;
	border: solid 1px rgb(150, 149, 149);
	font-size: 1.5vh;
	color: black;
}

.customButton:hover{
	background-color: #fc8c8b;
	font-weight: bold;
	border: none;
	color: #ffffff;
}

.customButton:disabled {
	background-color: #ccc;
	color: #666;
	cursor: not-allowed;
	opacity: 0.6;
  }