#root {
  text-align: center;
  height: 100%;
}

.appContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbarWrapper {
  flex: 0 0 auto;
}

.homeWrapper {
  flex: 1;
  justify-items: center ;
}

.footerWrapper {
  flex: 0 0 auto;
}
