.cardContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
	gap: 30px;
	justify-content: center;
	padding: 30px 0;
	box-sizing: border-box;
	width: 100%;
	max-width: 1200px; /* Opcional: para limitar el ancho máximo */
	margin: auto; /* Para centrar la grilla */
}

.homeContainer {
	height: 100%;
	width: 100%;
}